@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:400,700');

.user {
    font-style: italic;
}

.user::after {
    content: ' said:';
    font-style: normal;
}

.date {
    float: right;
}

.comment > p {
    background-color: #edeff0;
    padding: 0 1em 1em;
}

.comment > p::before {
    position: relative;
    top: 0.4em;
    font-size: 3em;
    color: #CCCCCC;
    content: '\201C';
}

#comments form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    row-gap: 1em;
    align-content: stretch;
    background-color: #edeff0;
    padding: 1em;
}

#comments form h2 {
    font-size: medium;
    grid-area: 1 / 1 / 2 / 7;
}

#comments form > label {
    display: flex;
    align-items: center;
}

#comments form > label:nth-of-type(1) {
    grid-area: 2 / 1 / 3 / 3;
}

#comments form > label:nth-of-type(2) {
    grid-area: 2 / 3 / 3 / 5;
}

#comments form > label:nth-of-type(3) {
    grid-area: 3 / 1 / 4 / 5;
}

#comments form > button {
    background-color: black;
    color: white;
    grid-area: 4 / 4 / 5 / 5;
}

#comments form > label > input {
    margin: 0 1em;
    height: 2em;
    flex: 1;
    border-color: #212121 #767676 #767676 #212121
}

#comments form > label > textarea {
    flex: 1;
    margin: 0 1em;
    height: 6em;
}
