body {
    display: block;
}

aside {
    display:none;
}

#register {
    padding: 10em;
}

#register h1 {
    text-align: center;
    font-weight: bold;
}

#register form {
    display: grid;
    row-gap: 1.5em;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    padding: 2em;
    background-color: white;
}

#register form input {
    border-bottom: solid 1px black;
    border-width: 0 0 1px 0;
    outline: 2px solid transparent;
    outline-offset: 2px;
    margin-top: 1em;
    font-size: medium;
}

#register form label {
    display: flex;
    flex-direction: column;
}

#register form label:nth-child(1) {
    grid-row: 1 / 2;
}

#register form label:nth-child(2) {
    grid-row: 2 / 3;
}

#register form label:nth-child(3) {
    grid-row: 3 / 4;
}

#register form button {
    grid-row: 4 / 5;
    background-color: black;
    padding: 1em;
    height: min-content;
    width: min-content;
    color: white;
}

@media (max-width: 30em) {
    html {
        min-height: 100%;
    }

    body {
        min-height: 100vh;
        height: auto;
        background-color: white;
    }

    #register {
        padding: 0;
    }

    #register form {
        margin: auto 2em;
    }
}